.ticker {
	background: url('../bg.png');
	height: 100vh;
}

.ticker__form {
	width: 300px;
	// height: 500px;
	margin: 0 auto;
	background: rgba(white,.8);
	border-radius: 25px;
	padding: 25px 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	column-rule: #fff;
}

.ticker__text {
	outline: none;
	padding: 0 10px;
	height: 50px;
	width: 85%;
	border: 2px solid rgb(255,202,203);
	border-radius: 25px;
	font-family: 'Poiret One', cursive;
	font-weight: 900;
	color: black;
}

.ticker__btn {
	outline: none;
	margin-top: 10px;
	cursor: pointer;
	border: 2px solid rgb(255,202,203);
	border-radius: 25px;
	background: #fff;
	padding: 10px 20px;
	transition: 0.4s;
	font-family: 'Poiret One', cursive;
	font-size: 18px;
	font-weight: 900;

	&:hover {
		background: rgb(255,217,218);
	}
}

.ticker__сycle {
	display: flex;
	margin-top: 18px;
	align-items: center;
}

.ticker__сycle-check {
	outline: none;
	width: 38px;
	height: 38px;
	color: rgb(255,217,218);
	border: 2px solid rgb(255,202,203);
	background: rgb(255,217,218);
	margin-right: 10px;
}

.ticker__lable {
	font-family: 'Poiret One', cursive;
	font-weight: 900;
	font-size: 18px;
}